In [25]:
##Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [26]:
#Read csv file
df = pd.read_csv('Resources/random_cases.csv')
df[['SR Create TS', 'SR Close TS', 'Cust Contact TS', 'CQ Applied TS']] = df[['SR Create TS', 'SR Close TS', 'Cust Contact TS', 'CQ Applied TS']].astype('datetime64[ns]')
df

,Original Index,OCPM #,Geo,Region,Country,Country ISO Code,Make/Miss,CROSS #,RCMS #,RETAIN #,...,F2B,F7,FTP,ea,9d,Agent Id,PREM IND,GA IND,VATS Ind,CQ Applied TS
0,14033,CLKDKDL,NaN,NaN,CANADA,CA,Make,BQJGPDF,0,0,...,0,0,0,12/24/2019 10:57,0,ECI,Non-Premier Account,0,N,2019-12-24 11:11:00
1,9560,409QMTZ,NaN,NaN,UNITED STATES,US,Miss,409QMTZ,0,0,...,0,0,0,0,0,C-6MCXUS,Non-Premier Account,0,N,2019-12-20 12:39:00
2,20647,409RVRY,NaN,NaN,CANADA,CA,Miss,409RVRY,0,0,...,0,0,0,1/2/2020 18:25,0,WEB,Non-Premier Account,0,Y,2020-01-02 18:53:00
3,3203,409RW88,NaN,NaN,UNITED STATES,US,Make,BQJFNTH,0,0,...,0,0,0,1/2/2020 18:02,1/3/2020 12:57,WEB,Premier Account,0,N,2020-01-02 18:05:00
4,4801,409PNY9,NaN,NaN,UNITED STATES,US,Miss,BQJJGBQ,0,0,...,0,0,0,12/15/2019 15:59,12/20/2019 11:03,WEB,Non-Premier Account,0,N,2019-12-15 22:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,15567,409S8TM,NaN,NaN,UNITED STATES,US,Make,BQJF9RQ,0,0,...,0,0,0,1/6/2020 11:40,1/7/2020 14:36,WEB,Non-Premier Account,0,N,2020-01-06 11:50:00
374,170,409NB6H,NaN,NaN,UNITED STATES,US,Miss,409NB6H,0,0,...,0,0,0,0,0,C-NHPRUS,Non-Premier Account,0,N,2019-12-06 10:51:00
375,12559,409RF49,NaN,NaN,UNITED STATES,US,Miss,0,0,0,...,0,0,0,12/27/2019 16:06,0,WEB,Non-Premier Account,0,N,2019-12-27 16:09:00
376,22530,409Q5D3,NaN,NaN,UNITED STATES,US,Miss,0,0,0,...,0,0,0,0,12/19/2019 18:37,C-PUTDUS,Non-Premier Account,0,Y,2019-12-17 10:27:00
377,8555,409RFCW,NaN,NaN,CANADA,CA,Miss,409RFCW,0,0,...,0,0,0,0,0,C-P392US,Non-Premier Account,0,N,2019-12-27 16:38:00

In [27]:
#Create new data with columns we're interested in
dates_df = df[['OCPM #', 'Make/Miss', 'SR Create TS', 'SR Close TS', 'Cust Contact TS', 'CQ Applied TS']]
dates_df.head()

,OCPM #,Make/Miss,SR Create TS,SR Close TS,Cust Contact TS,CQ Applied TS
0,CLKDKDL,Make,2019-12-24 10:47:00,2019-12-27 10:18:00,2019-12-24 15:06:00,2019-12-24 11:11:00
1,409QMTZ,Miss,2019-12-19 12:15:00,2020-01-10 15:51:00,2019-12-19 12:16:00,2019-12-20 12:39:00
2,409RVRY,Miss,2020-01-02 15:10:00,2020-01-13 14:11:00,NaT,2020-01-02 18:53:00
3,409RW88,Make,2020-01-02 16:23:00,2020-01-06 15:51:00,2020-01-06 11:17:00,2020-01-02 18:05:00
4,409PNY9,Miss,2019-12-13 23:57:00,2020-01-10 09:21:00,2019-12-16 12:45:00,2019-12-15 22:05:00

In [28]:
#Add column to hold difference between CQ Applied TS and SR Create TS
dates_df['CQ and Create Diff'] = (dates_df['CQ Applied TS'] - dates_df['SR Create TS'])
dates_df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,OCPM #,Make/Miss,SR Create TS,SR Close TS,Cust Contact TS,CQ Applied TS,CQ and Create Diff
0,CLKDKDL,Make,2019-12-24 10:47:00,2019-12-27 10:18:00,2019-12-24 15:06:00,2019-12-24 11:11:00,0 days 00:24:00
1,409QMTZ,Miss,2019-12-19 12:15:00,2020-01-10 15:51:00,2019-12-19 12:16:00,2019-12-20 12:39:00,1 days 00:24:00
2,409RVRY,Miss,2020-01-02 15:10:00,2020-01-13 14:11:00,NaT,2020-01-02 18:53:00,0 days 03:43:00
3,409RW88,Make,2020-01-02 16:23:00,2020-01-06 15:51:00,2020-01-06 11:17:00,2020-01-02 18:05:00,0 days 01:42:00
4,409PNY9,Miss,2019-12-13 23:57:00,2020-01-10 09:21:00,2019-12-16 12:45:00,2019-12-15 22:05:00,1 days 22:08:00
...,...,...,...,...,...,...,...
373,409S8TM,Make,2020-01-06 09:26:00,2020-01-09 08:32:00,2020-01-06 11:49:00,2020-01-06 11:50:00,0 days 02:24:00
374,409NB6H,Miss,2019-12-06 10:48:00,2019-12-23 09:36:00,2019-12-06 10:49:00,2019-12-06 10:51:00,0 days 00:03:00
375,409RF49,Miss,2019-12-27 15:19:00,2020-01-02 21:20:00,NaT,2019-12-27 16:09:00,0 days 00:50:00
376,409Q5D3,Miss,2019-12-17 10:08:00,2019-12-23 21:30:00,2019-12-17 10:09:00,2019-12-17 10:27:00,0 days 00:19:00
377,409RFCW,Miss,2019-12-27 16:34:00,2020-01-08 13:33:00,2019-12-27 16:35:00,2019-12-27 16:38:00,0 days 00:04:00

In [29]:
#Get stats for CQ and Create Diff
#dates_df.to_csv('Output/difference_df.csv')

In [31]:
dates_df['CQ and Create Diff'].describe()

count                       378
mean     0 days 11:28:51.428571
std      2 days 01:12:34.280024
min             0 days 00:01:00
25%             0 days 00:07:00
50%             0 days 00:35:00
75%             0 days 11:47:15
max            37 days 17:50:00
Name: CQ and Create Diff, dtype: object